<header class="intro-header" style="background-image: url('img/leagueoflegends.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <!--<h2>Posts</h2>
                    <hr class="small">
                    <span class="subheading"></span>-->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container autenticarMargin col-lg-5" ng-if="!logado">
    <h2 class="text-center">Autenticação</h2> <hr>
    <div class="">

        <input type="text" ng-click="limparMessagem()" ng-model="user.email" placeholder="Usuario" class="input-sm form-control text-center">
        
        <input type="password" ng-click="limparMessagem()" ng-model="user.pass" placeholder="Senha" class="input-sm form-control text-center">
    </div>
    <hr>
    <button ng-click="logar(user)" class="btn btn-primary col-lg-6 col-lg-offset-3">Autenticar</button>
   
    <div class="col-lg-12 col-lg-offset-3" ng-show="errorMessage">
         <br>
        <span class="text-center">Credenciais Invalidas!</span>
    </div>
   
</div>
<div ng-if="logado">
    <h3 class="text-center">Usuário {{logado.email}} já autenticado...</h3>
    <button ng-click="logout()" class="btn btn-primary col-lg-2 col-lg-offset-5">Sair</button>
</div>